// Base font configurations
$line-height-base: 1.61803398875;
$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif !default;
$headings-font-weight: 900;

// Page Colors
$brand-primary: #66aadd;
$body-bg: #fafafa;
$navbar-inverse-bg: #2a3033;
$navbar-inverse-color: $body-bg;

// Page header configuration

$header-height: 150px;

// Code hightlighting and preformatted text colors
$pre-bg: whitesmoke;
