@import "variables";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
// @import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
// @import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
// @import "bootstrap/dropdowns";
// @import "bootstrap/button-groups";
// @import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
// @import "bootstrap/breadcrumbs";
// @import "bootstrap/pagination";
// @import "bootstrap/pager";
// @import "bootstrap/labels";
// @import "bootstrap/badges";
// @import "bootstrap/jumbotron";
// @import "bootstrap/thumbnails";
// @import "bootstrap/alerts";
// @import "bootstrap/progress-bars";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
// @import "bootstrap/panels";
// @import "bootstrap/responsive-embed";
// @import "bootstrap/wells";
// @import "bootstrap/close";

// Components w/ JavaScript
// @import "bootstrap/modals";
// @import "bootstrap/tooltip";
// @import "bootstrap/popovers";
// @import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "compass";
@import "highlight";

body {
  padding: 73px 0 0 0;
  background-color: #f2f2f2;
  @media (max-width: $screen-sm-max) {
    padding-top: 50px;
  }
}

.navbar-nav > li > a {
  @extend h4;
  font-size: 20px;
  text-transform: uppercase;
  &:first-of-type {
    padding-left: 0;
  }
}

header {
  min-height: 50px;
}

$header-accent: darken($brand-primary, 20%);
.page-masthead {
  @include background-image(linear-gradient(135deg, $brand-primary 0, darken($brand-primary, 20%) 80%, darken($brand-primary, 25%) 100%));
  border-top: 1px solid $header-accent;
  border-bottom: 1px solid $header-accent;
  .container {
    padding-bottom: ($line-height-computed);
  }
}

.bio {
  margin-top: $grid-gutter-width;
}

nav.collapse {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

.frown {
  float: left;
  @include transform(rotate(90deg));
  @include transform-origin(top left);
}

.section_header {
  @extend h3;
}

.table-responsive {
  .table.even_split {
    max-width: 100%;
    width: 100%;
    tr {
      th, td {
        width: 50%;
        word-wrap: break-word;
        white-space: normal;
      }
    }
  }
}

.attribution {
  font-style: oblique;
}

 // Gist styles
.gist {
  .gist-meta {
    display: none;
  }

  .gist-syntax {
    background-color: $pre-bg !important;
  }

}
