%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-header
    %button.navbar-toggle{ type: "button", :data => { toggle: "collapse", target: ".navbar-collapse" } }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .container
    .navbar-inner
      %nav.collapse.navbar-collapse
        %ul.nav.navbar-nav
          - for item in site.header_navigation
            %li
              = link_to item["name"], item["url"]