---
layout: default

---
.background-poster
.row
  .container
    .bio
      %p Faun is an experienced engineer with an emphasis on best practices and team-oriented development. With a strong technical inclination and highly resourceful approach to troubleshooting and problem solving, he is adept in building complex, object-oriented applications with a focus on maintainability and ease of use. Using design patterns, versioned APIs, and constant refactoring, he is experienced at growing applications that add value over time.
      %p
        See
        %a{href: "resume.html"} resume
        for more information.

    %nav.elsewhere
      %h3 Elsewhere on the Web
      %ul
        - site.external_links.each do |link|
          %li
            = link_to link['name'], link['url'], rel: 'me'
    = partial :sidebar

