---
layout: default

---
.background-poster
.row
  .intro
    %h2 Sculptor of Awesome
    %p Faun is a full-stack software engineer located in San Francisco, California with a strong background in automated testing and modern web technologies. Utilizing behavior-driven development methodologies, Faun is adept at building non-trivial cloud-milked synthetic algorithms utilizing location-aware synergistic collaboration and magical unicorns.
    %p
      See
      %a{href: "resume.html"} resume
      for more information.
    %nav.elsewhere
      %h3 Elsewhere on the Web
      %ul
        - site.external_links.each do |link|
          %li
            = link_to link['name'], link['url'], rel: 'me'
    = partial :sidebar

